# Desafio Python e SQL

### Read

In [10]:
import pyodbc

dados_conexao = ("Driver={SQLite3 ODBC Driver};"
            "Server=localhost;"
            "Database=chinook.db") #dados da conexao

conexao = pyodbc.connect(dados_conexao) #conecta com nosso banco de dados
print('Conexao foi um sucesso')

cursor = conexao.cursor()

Conexao foi um sucesso

In [11]:
cursor.execute("SELECT * FROM customers") #seleciona todos os valores da tabela customers

valores = cursor.fetchall() #pega os valores dessa tabela

In [12]:
print(valores[0])

(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3)

In [13]:
import pandas as pd

tabela_clientes = pd.DataFrame.from_records(valores, columns=["ID","nome","sobrenome","empresa","endereço","cidade","estado","pais","cep","tel","fax","email","supportrepId"]) #tranforma em tabela a partir dos registros dos valores da tabela no banco de dados, segundo parametro nomeia as colunas
display(tabela_clientes[:3])

,ID,nome,sobrenome,empresa,endereço,cidade,estado,pais,cep,tel,fax,email,supportrepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

In [14]:
cursor.close()
conexao.close()