# Desafio Python e SQL

### Create

In [2]:
import pyodbc

dados_conexao = ("Driver={SQLite3 ODBC Driver};"
            "Server=localhost;"
            "Database=chinook.db") #dados da conexao

conexao = pyodbc.connect(dados_conexao) #conecta com nosso banco de dados
print('Conexao foi um sucesso')

cursor = conexao.cursor()

Conexao foi um sucesso

In [3]:
cursor.execute("INSERT INTO albums (Title, ArtistId) VALUES ('Daniel funk', 5)") #executa algo no BD (nesse caso inseri o titulo e id do artirta na tabela albums)
cursor.commit() #Concretiza essa mudan√ßa feita

cursor.close()
conexao.close()