# Exportando do DataFrame para um csv

### Depois de modificar um DataFrame, ou até criar um, muitas vezes podemos exportar esse dataframe para um csv

No pandas, isso é bem simples:

dataframe.to_csv('nome_do_arquivo.csv', sep=',')

### Lendo um DataFrame, modificando ele e exportando

In [2]:
import pandas as pd
#importando os arquivos
vendas_df = pd.read_csv(r'Contoso - Vendas - 2017.csv', sep=';', encoding='cp860')
produtos_df = pd.read_csv(r'Contoso - Cadastro Produtos.csv', sep=';', encoding='cp860')
lojas_df = pd.read_csv(r'Contoso - Lojas.csv', sep=';', encoding='cp860')
clientes_df = pd.read_csv(r'Contoso - Clientes.csv', sep=';', encoding='cp860')

#limpando apenas as colunas que queremos
clientes_df = clientes_df[['ID Cliente', 'E-mail']]
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]

#mesclando e renomeando os dataframes
vendas_df = vendas_df.merge(produtos_df, on='ID Produto')
vendas_df = vendas_df.merge(lojas_df, on='ID Loja')
vendas_df = vendas_df.merge(clientes_df, on='ID Cliente').rename(columns={'E-mail': 'E-mail do Cliente'})
display(vendas_df.head())

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida,Nome do Produto,Nome da Loja,E-mail do Cliente
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1,A. Datum Advanced Digital Camera M300 Pink,Loja Contoso Austin,rbrumfieldmy@ameblo.jp
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1,SV DVD 55DVD Storage Binder M56 Black,Loja Contoso North America Reseller,cshawd4@technorati.com
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1,"The Phone Company Touch Screen Phones 26-2.2"" ...",Loja Contoso Tehran No.2,kgorriekd@bandcamp.com
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1,Contoso Touch Screen Phones - CRT M11 Black,Loja Contoso Singapore,angela49@adventure-works.com
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1,Contoso SLR Camera M146 Orange,Loja Contoso Grand Prairie,jacob4@adventure-works.com

In [ ]:
#agora vamos criar o csv
#vendas_df.to_csv('Novo vendas 2017.csv', sep=';')

### Criando um dicionário, transformando o dicionário em um DataFrame e Exportando para csv

In [5]:
vendas_produtos = {'iphone': [558147, 951642], 'galaxy': [712350, 244295], 'ipad': [573823, 26964], 'tv': [405252, 787604], 'máquina de café': [718654, 867660], 'kindle': [531580, 78830], 'geladeira': [973139, 710331], 'adega': [892292, 646016], 'notebook dell': [422760, 694913], 'notebook hp': [154753, 539704], 'notebook asus': [887061, 324831], 'microsoft surface': [438508, 667179], 'webcam': [237467, 295633], 'caixa de som': [489705, 725316], 'microfone': [328311, 644622], 'câmera canon': [591120, 994303]} #

vendas_produtos_df = pd.DataFrame.from_dict(vendas_produtos, orient='index') #transofrmando um dic em dataframe e mudando orientação
vendas_produtos_df = vendas_produtos_df.rename(columns={0:'Vendas 2019', 1:'Vendas 2020'}) #renomeando o nome das colunas
vendas_produtos_df.to_csv('Dic vendas de produtos.csv', sep=';', encoding='latin1') #exportando o arquivo csv
display(vendas_produtos_df)

                   Vendas 2019  Vendas 2020
iphone                  558147       951642
galaxy                  712350       244295
ipad                    573823        26964
tv                      405252       787604
máquina de café         718654       867660
kindle                  531580        78830
geladeira               973139       710331
adega                   892292       646016
notebook dell           422760       694913
notebook hp             154753       539704
notebook asus           887061       324831
microsoft surface       438508       667179
webcam                  237467       295633
caixa de som            489705       725316
microfone               328311       644622
câmera canon            591120       994303